@import '~antd/dist/reset.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title{
  font-size: 15px;
  color: white;
}

.sidebar{
  background: darkcyan;
  color: white;
  height: 100vh;
  width: 200px;
}
.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 450ms;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}
.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7px;
}

.bars{
  color: white;
  font-size: 20x;
  margin-top: 2px;
  margin-bottom: 5px;
}

.logo{
  color: white;
  font-size: 25px;
  line-height: 0;
}

.search{
  display: flex;
  align-items: center;
  margin: 5px 5px;
  height: 50px;
  padding: 4px ;
}



.search input{
  border: none;
  width: 150px;
  margin-left: 6px;
  border-radius: 6px;
  background: rgb(238, 238, 236);
  height: 27px;
}
.search_icon{
  color: white;
  font-size: 22px;
}

.link{
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 7px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
}

.link-text{
  font-style: initial;
  font-size: 20px;
  margin-bottom: 5px;
}

.icon{
  font-size: x-large;
}



.link:hover{
  border-right:4px solid ;
  color: white;
  transition: 0.1s cubic-bezier(0.6,-0.28,0.735,0.045);
  background: rgb(58, 48, 62);
}
